## Redirect old domain
appeal.ow2discord.org, appeals.ow2discord.org {
  redir https://appeals.owdiscord.org
}

ow2discord.org {
  redir https://owdiscord.org{uri}
}

athena.ow2discord.org {
  redir https://owdiscord.org{uri}
}

modmail.ow2discord.org {
  redir https://modmail.owdiscord.org{uri}
}

# Real domain config
owdiscord.org {
  @appeals {
    path /appeal*
    path /appeals*
  }

  handle @appeals {
    redir https://discord.gg/ggaWYVz
  }

  redir https://discord.gg/overwatch
}

appeal.owdiscord.org, appeals.owdiscord.org {
  redir https://discord.gg/ggaWYVz
}

athena.owdiscord.org {
  handle /api* {
    reverse_proxy http://athena_api:8080
    request_body {
      max_size 200MB
    }
  }

  handle {
    reverse_proxy http://athena_dashboard:8080
  }
}

modmail.owdiscord.org {
  reverse_proxy http://modmail:8001
}
